doctype html
HTML
    HEAD
        title #{title}
        link(rel='stylesheet', href='/src/css/lib/bootstrap/css/bootstrap.min.css')
        script(src='/src/js/lib/jquery/jquery.js')
        script(src='/src/css/lib/bootstrap/js/bootstrap.bundle.min.js')
        meta(name='viewport' content='width=device-width, initial-scale=1')

    BODY
        main.container
            block header
                div.pb-2.mt-4.mb-2.border-bottom
                    h1 #{title}
            block content
